* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: rgb(83, 79, 79);
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
}
header div {
    text-align: center;
}
header div a {
    text-decoration: none;
    text-align: center;
    padding: 0px 16px;
    font-size: 28px;
    color: white;
}
header div a:hover {
    color: green;
    transition: 300ms;
}