@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color:rgba(15, 15, 250, 0.726);
    font-family: 'Open Sans', sans-serif;
    color: white;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
}
.links {
    text-align: center;
}
.links a {
    text-decoration: none;
    line-height: 28px;
    margin: 0px 16px;
    text-align: center;
    padding: 0px 16px;
    font-size: 28px;
    color: white;
    padding-bottom: 3px;
}
.links a:hover {
    color:red;
    transition: 300ms;
}

#container {
    align-items: center;
    text-align: center;
}
#container img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 60px;
}
#container h1 {
    font-size: 40px;
    padding-bottom: 2px;
}
#container h2 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
#container p {
    max-width: 500px;
    margin: 14px auto;
    font-size: 32px;
    line-height: 34px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
}
#container p a {
  color:rgb(3, 3, 117)
}
#container p a:hover {
    color: red;
    transition: 200ms;
}
#sociais a {
    border-bottom: 2px solid red;
    width: 50px;
}